<!DOCTYPE html>
<html>
    <head>
        <title>Planet Calendar</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/calendar.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="navigation-bar">
            <a href="/">Home</a>
            <a href="/planet-info">Planets</a>
            <a href="/calendar">Viewing Calendar</a>
        </div>
        
        <!-- Holds all calendar related items-->
        <div class="calendar-container">
            <h2 id="Calendar-title"></h2>
            <div class="calendar-control">
                <button id="Previous-Month">Previous Month</button>
                <button id="Next-Month"> Next Month</button>
                <button id="Today">Today</button>
            </div>
            <div id="calendar-weekdays">
                <div class="weekday">
                    <span class="full-text">Monday</span>
                     <span class="short-text">M</span> </div>
                <div class="weekday">
                    <span class="full-text">Tuesday</span>
                    <span class="short-text">T</span></div>
                <div class="weekday">
                    <span class="full-text">Wednesday</span>
                    <span class="short-text">W</span></div>
                <div class="weekday">
                    <span class="full-text">Thursday</span>
                     <span class="short-text">T</span></div>
                <div class="weekday">
                    <span class="full-text">Friday</span>
                    <span class="short-text">F</span></div>
                <div class="weekday">
                    <span class="full-text">Saturday</span>
                    <span class="short-text">S</span> </div>
                <div class="weekday">
                    <span class="full-text">Sunday</span>
                    <span class="short-text">S</span></div>

            </div>
            <!-- Left empty to be filled in by the calendar.js-->
            <div id="grid-calendar">
                
            </div>
        </div>
        <!-- Allows user to edit the selected day to add viewing times etc.-->
        <div id="Editor" class="hidden">
            <div class="Edit-container">
                <h3 id="date-Editor"></h3>

                <p> Add to Calendar</p>
                <label>Planets Viewed</label>
                <select id="planet-view-tags">
                    <!-- Dynamic via JavaScript
                     Meaning no hardcoded options are available from the get-go-->
                </select>
                
                <label>Equipment Used</label>
                <input type="text" id="equipment-used" placeholder ="Equipment Used">

                <label> Viewing Location</label>
                <input type="text" id="viewing-location" placeholder=" Viewed from">

                <!-- For optional things like:
                 Viewing conditions (If it was foggy, cloudy etc.)-->
                <label> Notes</label>
                <textarea id="user-notes" placeholder="Additional Notes"></textarea>
                <!-- Editor Buttons -->
                <div class="editor-buttons">
                    <button class="editor-button" id="submit-information">Submit</button>
                    <button class="editor-button" id="update-entry">Update Entry</button>
                    <button class="editor-button" id="delete-entry">Delete Entry</button>
                    <button class="editor-button" id="close-editor">Close</button>
                </div> 
            </div>


        </div>
        <script src="/js/astronomy.browser.min.js"></script>
        <script src="/js/astronomy-calc.js"></script>
        <script src="/js/calendar.js"></script>
    </body>

</html>