<!DOCTYPE html>
<html>
    <head>
        <title>Planet Calendar</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/calendar.css">
    </head>
    <body>
        <div class="navigation-bar">
            <a href="/">Home</a>
            <a href="/planet-info">Planets</a>
            <a href="/calendar">Viewing Calendar</a>
        </div>
        
        <div class="calendar-container">
            <h2 id="Calendar-title"></h2>
            <div class="calendar-control">
                <button id="Previous-Month">Previous Month</button>
                <button id="Next-Month"> Next Month</button>
                <button id="Today">Today</button>
            </div>
            <div id="calendar-weekdays">
                <div class="weekday">Monday</div>
                <div class="weekday">Tuesday</div>
                <div class="weekday">Wednesday</div>
                <div class="weekday">Thursday</div>
                <div class="weekday">Friday</div>
                <div class="weekday">Saturday</div>
                <div class="weekday">Sunday</div>

            </div>
            <div id="grid-calendar">
                
            </div>
        </div>

        <div id="Edit-day" class="hidden">
            <div class="Edit-container">
                <h3 id="date-Editor"></h3>

                <p> Visible Planets</p>
                <label>Planets Viewed</label>
                <select id="planet-view-tags">
                    <!-- Dynamic via JavaScript-->
                </select>
                
                <label>Equipment Used</label>
                <input type="text" id="equipment-used" placeholder ="Equipment Used">

                <label> Viewing Location</label>
                <input type="text" id="viewing-location" placeholder=" Viewed from">

                <label> Notes</label>
                <textextra id="user-notes" placeholder="Addtional Notes"></textextra>

                <button id="submit-information">Submit</button>
                <button id="close-editor">Close</button>
            </div>


        </div>
        <script src="/js/astronomy.browser.min.js"></script>
        <script src="/js/astronomy-calc.js"></script>
        <script src="/js/calendar.js"></script>
    </body>

</html>