<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planet Info - Planet Finder</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/planet-info.css">
</head>
<body>

    <div class="navigation-bar">
        <a href="/">Home</a>
        <select class="nav-planet-dropdwon" id="nav-planet-dropdown">
            <option value="" disabled selected>Planets</option>
            <option value="/planet/mercury">Mercury</option>
            <option value="/planet/venus">Venus</option>
            <option value="/planet/moon">Moon</option>
            <option value="/planet/mars">Mars</option>
            <option value="/planet/jupiter">Jupiter</option>
            <option value="/planet/saturn">Saturn</option>
            <option value="/planet/uranus">Uranus</option>
            <option value="/planet/neptune">Neptune</option>

        </select>
        <a href="/calendar">Viewing Calendar</a>
    </div>

    <div class="user-controls">
        <!-- Lat Long Inputs -->
        <div class="user-inputs">
            <div class="input-row">
                <input id="lat-input" type="number" step="0.0001" placeholder="Latitude">
                <input id="long-input" type="number" step="0.0001" placeholder="Longitude">
            </div>
            <div class="button-row-input">
                <button id="submit-location">Submit Location</button>
                <button id="Auto-Locate">Auto-Locate</button>
            </div>

        <!-- Date/Time Inputs -->
        </div>
        <div class="user-inputs">
            <div class="input-row">
                <input id="date-input" type="date" step="0.0001" placeholder="Date">
                <input id="time-input" type="time" step="" placeholder="Time"> 
            </div>
            <div class="button-row-input">
                <button id="Date-time-button">Submit Date/Time</button>
            </div>

        </div>
    </div>

    <div id="planet-info-container">
            
        <section class="planet-information">
            <div class="info-tile">
                <h2>Planet Orbit</h2>
                <div class="info-grid" id="PlanetOrbit">

                </div>
            </div>
            <div class="info-tile">
                <h2>Rise and Set times</h2>
                <div class="info-grid" id="Rise-And-Set">

                </div>
            </div>
            <!-- <div class="info-tile">
                <h2>Planet Characteristics</h2>
                <div class="info-grid" id="Planet-Characteristics">
                    
                </div>
            </div> -->
            <div class="info-tile wide-tile">
                <h2>Orbital Information</h2>
                <div class="info-grid" id="Orbital-Information">
                    
                </div>
            </div>
            <div class="info-tile">
                <h2>Fun Facts</h2>
                <div class="info-grid" id="Fun-Facts">

                </div>
            </div>
            

            
            
        </section>
    </div>
    <script src="/js/astronomy.browser.min.js"></script>
    <script src="/js/astronomy-calc.js"></script>
    <script src="/js/planets_detail.js"></script>
    <script>
        document.getElementById("nav-planet-dropdown").addEventListener("change", function () {
            if (this.value) {
                window.location.href = this.value;
            }
        })
    </script>
</body>
</html>