<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planet Info - Planet Finder</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/planet-info.css">
</head>
<body>
    <header>
        <a href="/" class="back-Button">Back to Home</a>
    </header>

    <div class="navigation-bar">
            <a href="/">Home</a>
            <a href="/views/planet-info.html">Planets</a>
            <a href="/views/calender.html">Viewing Calendar</a>
        </div>
</body>
</html>