<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planet Info - Planet Finder</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/planet-info.css">
</head>
<body>
    <header>
        <a href="/" class="back-Button">Back to Home</a>
    </header>

    <div class="navigation-bar">
            <a href="/">Home</a>
            <a href="/views/planet-info.html">Planets</a>
            <a href="/views/calender.html">Viewing Calendar</a>
    </div>

    <div class="user-controls">
        <!-- Lat Long Inputs -->
        <div class="user-inputs">
            <div class="input-row">
                <input id="lat-input" type="number" step="0.0001" placeholder="Latitude">
                <input id="long-input" type="number" step="0.0001" placeholder="Longitude">
            </div>
            <div class="button-row-input">
                <button id="submit-location">Submit Location</button>
                <button id="Auto-Locate">Auto-Locate</button>
            </div>

        <!-- Date/Time Inputs -->
        </div>
            <div class="user-inputs">
            <div class="input-row">
                <input id="date-input" type="date" step="0.0001" placeholder="Date">
                <input id="time-input" type="time" step="" placeholder="Time"> 
            </div>
            <div class="button-row-input">
                <button id="Date-time-button">Submit Date/Time</button>
            </div>

        </div>
    </div>

    <div id="planet-info-container">
            
        <section class="planet-information">
            <div class="info-tile"></div>
                <h2>Planet Orbit</h2>
                <div class="info-grid">

                </div>

                <h2>Rise & Set Times</h2>
                <div class="info-grid">

                </div>

                <h2>Planet Characteristics</h2>
                <div class="info-grid">

                </div>
            </div>

            <div class="info-tile"></div>
                <h2>Orbital Information</h2>
                <div class="info-grid">

                </div>

            </div>

            <div class="info-tile"></div>
                <h2>Fun Facts</h2>
                <div class="info-grid">

                </div>

            </div>

            
            
        </section>
    </div>
    <script src="/public/js/planets_detail.js"></script>
</body>
</html>