.calendar-container {
    gap: 20px;
    background-color: rgba(28, 28, 34, 0.8);
    padding: 15px;
    margin: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.05);

    /* Stops overflow (Sunday would extend beyound screen) */
    max-width: 100%;
    overflow-x: hidden;
}
#Previous-Month, #Next-Month, #Today {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 150px;
    background-color: rgb(36, 36, 44);
    color: rgb(220, 220, 230);
    margin: 5px;
}
#Previous-Month:hover, #Next-Month:hover, #Today:hover {
    background-color: rgb(85, 100, 145);
    cursor: pointer;
}
#calendar-weekdays {
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;

}
#calendar-weekdays .short-text {
    display:none;
}


.weekday {
    padding: 10px 0;
    background-color: rgb(36, 36, 44);
}
.highlight-today {
    outline: 2px solid rgba(222, 222, 229, 0.835);
    background-color: rgba(120, 150, 255, 0.2);
}

#grid-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.day {
    position: relative;
    padding-top: 100%;
    outline: rgba(50, 54, 62, 0.835) solid 2px;
    outline-width: 0.5px;
}
.day > .date{
    top:5px;
    left:5px;
    position: absolute;
}
.hidden {
    display: none;
}

#Editor {
    visibility: hidden;

    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 900;

}

.Edit-container {
    background-color: rgba(28, 28, 34, 0.8);
    padding: 20px;
    border-radius: 4px;
    width:90%;
    max-width: 450px;

    display: flex;
    flex-direction: column;
    gap:10px;
}

.Edit-container p {
    font-size: 36px;
    align-self: center;
    color: rgb(220, 220, 230);
}

#planet-view-tags, #equipment-used, #viewing-location, #user-notes {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(36, 36, 44);
    color: rgb(220, 220, 230);
}


.editor-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:10px;
    margin: 10px;
    width: 100%;
}


.editor-button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 150px;
    background-color: rgb(36, 36, 44);
    color: rgb(220, 220, 230);

}

.editor-button:hover{
    background-color: rgb(85, 100, 145);
    cursor: pointer;
}
.editor-button:active{
    background-color: rgb(60, 70, 105);
    transform: scale(0.98);

}
#delete-entry {
    background-color: rgb(125, 44, 44);
}

@media (max-width: 768px) {
    /* Switches to Shorter day names (Monday -> M */
    #calendar-weekdays .full-text {
        display: none;
    }
    #calendar-weekdays .short-text {
        display: inline;
    }
    

}