body {
    font-family: 'Segoe UI';
}

h1, h2, h3 {
    color: var(--primary-color);
    margin-bottom: 0.5em;
}

.button-images {
    display: flex;
    overflow: hidden;
    justify-content: center;
    flex-wrap: wrap;
}
.wrap-image {
    overflow: hidden;
    display: inline-block;
}
.wrap-image input[type="image"]:hover {
    opacity: 90%;
    transform: scale(1.05);

    
}
.wrap-image input[type="image"] {
    width:900px;
    height:500px;
    object-fit: cover;
    border-radius: 3px;

    transition: transform 0.3s ease, opacity 0.3s ease
}

@media (max-width:1080px){
    
}
