body{
    overflow-x: hidden;
}
.user-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgba(28, 28, 34, 0.8);
    padding: 15px;
    margin: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.user-inputs {
    background-color: rgb(36, 36, 44);
    display:flex;
    flex-direction: column;
    width:100%;
    max-width: 400px;
    justify-content: center;
    align-items: flex-start;
    border-radius: 3px;

}
.input-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:10px;
    justify-content: center;

}
.button-row-input {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
}
.input-row, .button-row-input {
    flex-wrap: wrap;
}
#date-input, #time-input, #lat-input, #long-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 150px;
    background-color: rgb(36, 36, 44);
    color: rgb(220, 220, 230);
}

button {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    width: 150px;
    background-color: rgb(70, 85, 125);
    color: rgb(230, 230, 240);
    border-radius: 10px;
}
button:hover{
    background-color: rgb(85, 100, 145);
    cursor: pointer;
}
button:active{
    background-color: rgb(60, 70, 105);
    transform: scale(0.98);

}

input[type="date"]::-webkit-calendar-picker-indicator, input[type="time"]::-webkit-calendar-picker-indicator {
    filter:invert(1);
    opacity: 0.5;
    cursor: pointer;    
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    
}
.planet-information {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    margin: 10px;
}
.info-tile {
    background-color: rgba(28,28, 34, 0.8);
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.05);
}
.info-tile h2{
    margin: 0;
    margin-bottom: 2px;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
.wide-tile {
    grid-column: span 2;
}
#Orbital-Information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

#Fun-Facts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

@media (max-width: 768px) {
    .user-controls {
        flex-direction: column;
        align-items: center;
        
    }
    body {
        padding-bottom: 70px;
        
    }
    .planet-information {
        grid-template-columns: 1fr;
    }
    /* #Fun-Facts {
        visibility: hidden;
    } */
    .wide-tile {
        grid-column: span 1;
    }
    #date-input, #time-input, #lat-input, #long-input, button {
        width: 100%;
        margin: 5px 0;


    }
    #Fun-Facts {
        grid-template-columns: repeat(2, 1fr);
    }
}
